.titulo-filtro {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
}

.nav-filtro {
    color: #666666 !important;
}

.nav-filtro:hover {
    color: black !important;
}

.link-tabla {
    text-decoration: none !important;
    color: #666666 !important;
}

.link-tabla:hover {
    text-decoration: underline !important;
    color: #717fe0 !important;
}