.footer-negro {
    background-color: #222;
    padding-top: 5px;
    padding-bottom: 10px;
}

.titulo-footer {
    color: white;
    font-family: 'Poppins', sans-serif !important;
}

.links-footer {
    color: #b2b2b2;
    text-decoration: none !important;
}

.links-footer:hover {
    color: #717fe0;
}

.info-footer {
    color: white;
}

ul {
    list-style-type: none !important;
    padding: 0 !important;
}