/* .banner-negro {
    background-color: #222;
    height: 40px;
} */

.nav-link {
    font-family: 'Poppins', sans-serif !important;
    margin: 10px 5px;
    font-size: 14px;
}

.navbar.scrolled{
    background:#FFF;
}